##########################################################################
##########################################################################
##                                                                      ##
##  +++++         '++++:  @@@@@@@@@@@@@@@@@@@@   ++++++++++++++++++++   ##
##   @@@@@       ;@@@@#   @@@@@@@@@@@@@@@@@@@@   @@@@@@@@@@@@@@@@@@@@   ##
##   .@@@@@     ,@@@@#    @@@@@@@@@@@@@@@@@@@@   @@@@@@@@@@@@@@@@@@@@   ##
##    :@@@@@   .@@@@@     @@@@@@@@@@@@@@@@@@@@   @@@@@@@@@@@@@@@@@@@@   ##
##     '@@@@@  @@@@@      @@@@@@@@@@@@@@@@@@@@   @@@@############@@@@   ##
##      #@@@@+@@@@@                              @@@@            @@@@   ##
##       #@@@@@@@@                               @@@@            @@@@   ##
##        @@@@@@@                                @@@@            @@@@   ##
##        .@@@@@#         @@@@@@@@@@@@@@@@@@@@   @@@@            @@@@   ##
##        @@@@@@@         @@@@@@@@@@@@@@@@@@@@   @@@@            @@@@   ##
##       @@@@@@@@@        @@@@@@@@@@@@@@@@@@@@   @@@@            @@@@   ##
##      @@@@@ #@@@@.      @@@@@@@@@@@@@@@@@@@@   @@@@            @@@@   ##
##     @@@@@   @@@@@      @@@@@@@@@@@@@@@@@@@@   @@@@############@@@@   ##
##    @@@@@     @@@@@     @@@@                   @@@@@@@@@@@@@@@@@@@@   ##
##   @@@@@,      @@@@@    @@@@                   @@@@@@@@@@@@@@@@@@@@   ##
##  +@@@@'        @@@@@   @@@@                   @@@@@@@@@@@@@@@@@@@@   ##
##                                                                      ##
##########################################################################
##########################################################################

##  xf0 Config File |  For more information, please check  | © 2018, Veit
##                  |  https://github.com/gxf0/lazy_server | <mail@xf0.de>


[lazy_deb]

lazy_deb = ""

# basic settings
servername = ""
hostname = ""

# most time sendmail doesn't work for me, so I switched to postfix to send mails
# from the server. Notification: It doesn't configure a whole email server, just
# install and configure postfix for simple notification via mail!
install_postfix = ""

[end]



[lazy_secure]

lazy_secure = ""

# choose which packages you want to install
fail2ban = ""
apticron = ""
rkhunter = ""

# in case you didn't define a hostnam in the lazy_deb config, or don't use the basic
# configuration, you have to define a hostname here again.
hostname = ""

# the email is been used for login nofifications
your_email = ""

# fail2ban works like a charm, but changing your ssh port is nearly as effective.
ssh_port = ""

[end]



[lazy_lemp]

lazy_lemp = ""

# if you change php or mariadb version, please make sure to check and adjust the
# source, inside the lazy_lemp script as well.
php = ""
mariadb = ""

# phpMyAdmin will be installed by default, you can specify the path for the webinterface
install_pma = ""
pma_dir = ""

# default value for sql_nopw is false, so you will be asked during install process
# but you also can define a password in the config, to keep the script running.
sql_nopw = ""
sql_root_pw = ""

[end]



[lazy_ngx]

lazy_ngx = ""

# no variables need to be defined, at least until now (placeholder)

[end]

[lazy_xcache]

lazy_xcache = ""

php = ""

# choose which services/modules you want to set up
redis = ""
apcu = ""
opcache = ""

# by default redis will listen on a UNIX socket, otherwise define a TCP port
redis_tcp = ""
redis_port = ""

[end]
